*{
    margin: 0;
    padding: 0;
}

.montserrat-regular{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.roboto-regular{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

.bebas-neue-regular{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.btn-primary{
    width: 170px;
    height: 60px;
    display: flex; 
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #FFFFFF;
    border-radius:10px;
    border: none;
    cursor: pointer;
    background-color: #A4BC46;
    background-color: #85A019;
}
 .btn-img{
     width: 24px;
    height: 24px;
}  

header{
    height: 715px;
    background-color: #FFFBF0;
    margin-bottom: 49px;
}
nav{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 504.89px;
    justify-content: space-between;
}
.nav-left{
    height: 39.27px;
    width: 249.11px;
    display: flex;
    gap: 10.17px;
    align-items: center;
    margin-top: 39px;
}
.nav-left img{
    height: 39.27px;
    width: 55.94px;
}

.nav-left h3{
    font-size: 25.43px;
    font-weight: bold;
    width: 183px;
}

.genz-color{
    color: #A4BC46;
}
.nav-right{
    width: 415px;
    height: 24px;
    display: flex;
    list-style: none;
    gap: 57px;
    margin-top: 47px;
}
.nav-right li{
    font-size: 16px;
    font-weight: 500;
    color: #3C3C3C;
}
/* Banner */
.banner{
    max-width: 1170px;
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;


}
.banner-left{
    margin-bottom: 101px ;

}

.banner-left h1{
    width: 333px;
    height: 192px;
    font-size: 80px;
    font-weight: normal;
    line-height: auto;
    color: #FABE4C;
    margin-top: 101px;
}
.winter-color{
    color: #363958;
}

.banner-left p{
    width: 357px;
    height: 52px;
    font-size: 16px;
    font-weight: normal;
    color: #3E3E3E;
    margin-top: 8px;
    margin-bottom: 8px;
}
   
.banner-right img{
    width: 397px;
    height: 334px;
    margin-top: 100px;
}

/* Main Section Started */

/* Women Jacket */

.Women-section{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 99px;
}
.All-card{
    display: flex;
    gap: 20px;
}

.card{
    width: 370px;
    height: 550px;
    border-radius: 20px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: 0 4px 12px #0000001A;

}

.W-J-Title{
    font-size: 48px;
    font-weight: normal;
    color: #363958;
    margin-bottom: 21px ;

}

.img-div{
    width: 334px;
    height: 327px;
    border-radius: 20px;
    background-color:#F1F1F1;
    margin: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-img{
    width: 293px;
    height: 293px;
}

.jacket{
    font-size: 24px;
    font-weight: bold;
    color: #363958;
    margin-left: 22px;
}

.jacket-des{
    width: 299px;
    height: 52px;
    font-size: 16px;
    font-weight: normal;
    color: #3E3E3E;
    margin: 12px 0 12px 22px;
    line-height: 26px;
}

.buy{
    display: flex;
    gap: 79px;
    align-items: center;
    margin-left: 22px;
}
.buy h3{
    font-size: 36px;
    font-weight: 900;
    color: #FABE4C;
}

.second-img{
    width: 203px;
    height: 293px;
}

.third-img{
    width: 210px;
    height: 257px;
}